<%= form_for(@reminder) do |f| %>
  <% if @reminder.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@reminder.errors.count, "error") %> prohibited this reminder from being saved:</h2>

      <ul>
      <% @reminder.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :user_id %><br>
    <%= f.number_field :user_id %>
  </div>
  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :fq_type %><br>
    <%= f.select :fq_type, ['Daily', 'Weekly', 'Monthly', 'Yearly', 'Every X days', 'Every X weeks', 'Every X Months', 'Every X Year'] %>
  </div>
  <div class="field hide">
    <%= f.label :fq_monthly_interval %><br>
    <%= f.number_field :fq_monthly_interval %>
  </div>
  <div class="field">
    <%= f.label :fq_interval %><br>
    <%= f.number_field :fq_interval %>
  </div>
  <div class="field">
    <%= f.label :fq_time %><br>
    <%= f.datetime_select :fq_time %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
<script>
  $('#reminder_fq_type').on('change', function(){
    if($(this).val() == 'Yearly'){
      $('#reminder_fq_monthly_interval').parent().removeClass('hide')
    }
  })
</script>
